.about-us {
    padding: 40px 0;
    // text-align: center;
  }
  
  .about-us h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white; /* Set the text color to white */
  }
  
  .about-us p {
    font-size: 16px;
    line-height: 1.5;
    color: white; /* Set the text color to white */
  }