<app-header></app-header>
<div class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Về chúng tôi</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis laoreet tortor, id vestibulum nulla. Donec dapibus justo non tortor feugiat, id dignissim mi hendrerit. Integer vel lorem non neque commodo cursus ac a metus. Praesent eleifend ex vel lectus consectetur, et eleifend est consequat. Integer quis metus euismod, posuere augue vitae, ultrices mi.</p>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>